.mstheme
{
	separator-image: url(urbhorsd.gif);
	list-image-1: url(urbbul1d.gif);
	list-image-2: url(urbbul2d.gif);
	list-image-3: url(urbbul3d.gif);
	nav-banner-image: url(urbbannd.gif);
	navbutton-horiz-normal: url(urbhbudd.gif);
	navbutton-horiz-pushed: url(urbhbusd.gif);
	navbutton-vert-normal: url(urbvbudd.gif);
	navbutton-vert-pushed: url(urbvbusd.gif);
	navbutton-home-normal: url(urbhombd.gif);
	navbutton-next-normal: url(urbnexbd.gif);
	navbutton-prev-normal: url(urbprebd.gif);
	navbutton-up-normal: url(urbupbd.gif);
}
.mstheme-bannertxt
{
	font-family: Impact, Arial, Helvetica;
	color: rgb(0,0,0);
	text-align: center;
	vertical-align: middle;
}
.mstheme-horiz-navtxt
{
	font-family: Arial, Helvetica;
	color: rgb(0,0,0);
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}
.mstheme-vert-navtxt
{
	font-family: Arial, Helvetica;
	color: rgb(0,0,0);
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}
.mstheme-navtxthome
{
	font-family: Arial, Helvetica;
	color: rgb(0,0,0);
	text-align: center;
	vertical-align: middle;
}
.mstheme-navtxtnext
{
	font-family: Arial, Helvetica;
	color: rgb(0,0,0);
	text-align: center;
	vertical-align: middle;
}
.mstheme-navtxtprev
{
	font-family: Arial, Helvetica;
	color: rgb(0,0,0);
	text-align: center;
	vertical-align: middle;
}
.mstheme-navtxtup
{
	font-family: Arial, Helvetica;
	color: rgb(0,0,0);
	text-align: center;
	vertical-align: middle;
}
