vti_encoding:SR|utf8-nl
vti_author:SR|IUSR_GDIMED
vti_modifiedby:SR|IUSR_GDIMED
vti_timecreated:TR|03 Jan 2000 03:48:44 -0000
vti_timelastmodified:TR|03 Jan 2000 03:48:44 -0000
vti_cacheddtm:TX|03 Jan 2000 03:48:46 -0000
vti_filesize:IR|1558
vti_cachedlinkinfo:VX|S|subruled.gif S|subbul1d.gif S|subbul2d.gif S|subbul3d.gif S|subband.gif S|subnavhd.gif S|subnavhs.gif S|subnavvd.gif S|subnavvs.gif S|subhomd.gif S|subnxtd.gif S|subpred.gif S|subupd.gif
vti_cachedsvcrellinks:VX|NSUS|_themes/subterra/subruled.gif NSUS|_themes/subterra/subbul1d.gif NSUS|_themes/subterra/subbul2d.gif NSUS|_themes/subterra/subbul3d.gif NSUS|_themes/subterra/subband.gif NSUS|_themes/subterra/subnavhd.gif NSUS|_themes/subterra/subnavhs.gif NSUS|_themes/subterra/subnavvd.gif NSUS|_themes/subterra/subnavvs.gif NSUS|_themes/subterra/subhomd.gif NSUS|_themes/subterra/subnxtd.gif NSUS|_themes/subterra/subpred.gif NSUS|_themes/subterra/subupd.gif
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_extenderversion:SR|4.0.2.3406
vti_backlinkinfo:VX|
